# IDE Folders
.vscode/
.idea/

# Compilation artifacts
compile_commands.json

# Temp files
*.o
*.a
*.so

# Binary
libargot.a
libargot.so

# Cache
.cache

# Build
Release/
build/
Debug/

# Test
test

a.out
